---
import Layout from "@/layouts/Layout.astro";
import { MyBooksLayout } from "@/components/my-books/layout/MyBooksLayout";
import { BooksTabs } from "@/components/my-books/layout/BooksTabs";
import { UserBookStatus } from "@/types";
import { RejectedBooksView } from "@/components/my-books/rejected/RejectedBooksView";
---

<Layout title="Rejected Books">
  <MyBooksLayout title="My Books">
    <BooksTabs client:load activeTab={UserBookStatus.REJECTED} />
    <div class="mt-8">
      <RejectedBooksView client:load />
    </div>
  </MyBooksLayout>
</Layout>
