---
import Layout from "@/layouts/Layout.astro";
import { MyBooksLayout } from "@/components/my-books/layout/MyBooksLayout";
import { BooksTabs } from "@/components/my-books/layout/BooksTabs";
import { ToReadBooksView } from "@/components/books/ToReadBooksView";
import { UserBookStatus } from "@/types";
---

<Layout title="My Books - To Read">
  <MyBooksLayout title="My Books">
    <BooksTabs client:load activeTab={UserBookStatus.TO_READ} />
    <div class="mt-8">
      <ToReadBooksView client:only="react" />
    </div>
  </MyBooksLayout>
</Layout>
